@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
.wrap {
    overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.scroll-container section {
    position: relative;
    width: 100%;
    height: 100%;
}
.inner {
    position: relative;
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 130px;
}
.inner:after {
    content: "";
    display: block;
    clear: both;
}
.mobile-br {
    display: none;
}
.web-img {
    display: block;
}
.mobile-img {
    display: none;
}
.f-mon,
.f-mon *  {
    font-family: 'Montserrat', sans-serif;
}
/*slick style*/
.slick-track {
    overflow: hidden;
    font-size: 0;
}
.slick-slide {
    float: left;
}
/*icon*/
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
.ico-cscenter {
    width: 32px;
    height: 32px;
    margin-top: -8px;
    background: url("../img/icon_cscenter.svg") no-repeat center;
}
/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    padding: 0 80px;
    background: #fff;
    z-index: 999;
}
header h1 {
    float: left;
}
header h1 a {
    display: block;
    padding: 48px 0;
}
header nav ul {
    float: right;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    display: block;
    padding: 52px 30px;
    font-size: 20px;
    font-family: 'Noto Sans Korean', sans-serif;
}
/*footer*/
footer {
    padding: 0 75px;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
footer * {
    font-family: 'Noto Sans Korean', sans-serif;
}
footer p {
    color: #707070;
    padding-bottom: 60px;
    border-bottom: 2px solid #000;
}
footer .f-info {
    padding: 60px 0;
    color: #383838;
}
footer .f-info img {
    float: left;
    padding: 10px 0;
}
footer .f-info ul {
    margin-left: 120px;
}
footer .f-info ul li strong {
    font-weight: 400;
}
/*section*/
div[class*="scroll-text-"] {
    position: absolute;
    left: 0;
    width: 99%!important;
    text-align: center;
}
.scroll-text-bottom {
    bottom: 0;
    font-size: 14px;
}
.scroll-text-bottom span {
    position: absolute;
    margin: -40px 0 0 -18px;
    font-weight: 600;
}
.scroll-text-bottom:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background: #000;
}
.scroll-text-bottom:before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    margin: 0 auto;
    background: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.scroll-text-top {
    top: 0;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.scroll-text-top:before {
    content: "";
    display: block;
    width: 1px;
    height: 190px;
    margin: 0 auto 10px;
    background: #000;
}
.fade-area {
    position: relative;
    opacity: 0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.fade-area.active {
    opacity: 1;
}
.fade-area.top {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.fade-area.top.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fade-area.left {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.fade-area.left.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
section h2 {
    font-size: 54px;
}
 .dear-title {
    font-size: 54px;
    line-height: 68px;
}
.dear-title + p {
    margin-top: 55px;
    font-size: 36px;
    line-height: 50px;
}
.dear-title span {
    display: block;
    font-size: 20px;
    color: #17A0BC;
}
.btn-view-more {
    display: inline-block;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #000;
}
.section1 .main-visual {
    width: 100%;
    height: 100vh;
    color: #383838;
    padding: 130px 11vw 0;
}
.section1 .visual01 {
    background: url("../img/main_visual_img_01.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section1 .visual02 {
    background: url("../img/main_visual_img_02.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section1 .visual03 {
    background: url("../img/main_visual_img_03.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section1 .main-visual .text-box {
    position: absolute;
    top: 50%;
    padding-top: 65px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section1 .main-visual .text-box h2 {
    font-weight: 100;
    margin-bottom: 55px;
}
.section1 .main-visual .text-box p {
    font-weight: 100;
    font-size: 36px;
}
.section1 .main-visual .text-box p img {
    margin: 10px 0 0 5px;
}
.section1 .main-visual.visual02 .text-box {
    right: 11vw;
}
.section1 .main-visual.visual03 .text-box {
    color: #fff;
}
.section2 {
    color: #fff;
    background: url("../img/img_brandstory.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section2 .inner {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
}
.section2 .inner > * {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.section2 .text-area p {
    display: inline-block;
    text-align: left;
    font-size: 22px;
    font-weight: 100;
}
.section3 {
    background: url("../img/bg_leaf_illust_02@2x.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section4 {
    background: url("../img/bg_leaf_illust_01@2x.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.dear-info {
    position: relative;
    top: 50%;
    width: 1440px;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 130px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dear-info:after {
    content: "";
    display: block;
    clear: both;
}
.dear-info > * {
    float: left;
    width: 31%;
}
.dear-info .img-box {
    position: relative;
    width: 38%;
    text-align: center;
}
.section3 .dear-info .img-box {
    background: url("../img/bg_circle.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.section4 .dear-info .img-box {
    background: url("../img/bg_circle_white.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.section4 .dear-info .img-box img {
    padding: 60px;
}
.dear-info .img-box span {
    display: inline-block;
    margin-top: -15px;
    padding-bottom: 35px;
    font-size: 19px;
    font-weight: 600;
}
.dear-info h3 {
    margin-bottom: 30px;
    font-size: 30px;
}
.dear-info h3 span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #3bd9ff;
}
.dear-info .title-info {
    font-size: 18px;
    line-height: 28px;
}
.dear-info strong.title-info {
    display: inline-block;
    padding: 0 100px 30px 0;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #000;
}
.dear-info .ingredient {
    margin-top: 40px;
    font-size: 0;
}
.dear-info .ingredient .ingre-title {
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
}
.dear-info .ingredient .ingre-title:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}
.dear-info .ingredient .ingre-title span {
    position: relative;
    display: inline-block;
    padding: 0 7px;
    background: #fff;
    z-index : 10;
}
.dear-info .ingredient .ingredient-box {
    display: inline-block;
    width: 50%;
}
.dear-info .ingredient h4 {
    font-size: 18px;
}
.dear-info sup {
    position: relative;
    top: -7px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 800
}
.dear-title sup {
    top: -44px;
    left: 11px;
    margin: 0;
}
.dear-info .ingredient h4 span {
    display: block;
    font-size: 12px;
    font-weight: 100;
}
.dear-info .ingredient .f-mon {
    display: block;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
}
.dear-info .ingredient .f-mon em {
    font-size: 31px;
}
.dear-info .ingredient .ingre-guide {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #2CA9C2;
}
.section4 .dear-info .text-box:first-child {
    text-align: right;
}
.section4 .dear-info .text-box:last-child {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section-guide {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #707070;
}
.section5 .scroll-text-top {
    margin-left: 8px;
}
.section5 .slide-area {
    position: relative;
    height: 100vh;
    padding-top: 130px;
}
.section5 .title-area {
    position: absolute;
    top: 25%;
    left: 10vw;
}
.section5 .campaign-slide {
    top: 45%;
    padding-left: 32vw;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section5 .slick-initialized .slick-slide {
    margin: 0 20px;
}
.section5 .slick-prev,
.section5 .slick-next {
    width: 8px;
    height: 14px;
    position: absolute;
    bottom: 0;
    left: 10vw;
    font-size: 0;
}
.section5 .slick-prev {
    background: url("../img/prev_button.svg") no-repeat center;
}
.section5 .slick-next {
    margin-left: 35px;
    background: url("../img/next_button.svg") no-repeat center;
}
.section5 .slick-next:after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px;
    background: #3BD9FF;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.section5 .campaign-slide .slide-wrap {
    position: relative;
}
.section5 .campaign-slide .text-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section5 .campaign-slide .text-area a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.section5 .campaign-slide .text-area h3 {
    font-size: 24px;
}
.section5 .campaign-slide .text-area h3 span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.section5 .campaign-slide .text-area .go-campaign {
    position: absolute;
    bottom: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}
.section5 .campaign-slide .video-text {
    margin-top: 15px;
}
.section5 .campaign-slide .video-text > * {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.section5 .campaign-slide .video-text h5 {
    font-size: 28px;
}
.section5 .campaign-slide .video-text p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.5px;
}

