@charset "utf-8";
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
.wrap {
    overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.scroll-container section {
    position: relative;
    width: 100%;
    height: 100%;
}
.inner {
    position: relative;
    top: 50%;
    width: 1550px;
    max-width: 95%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inner:after {
    content: "";
    display: block;
    clear: both;
}
.mobile-br {
    display: none;
}
.web-img {
    display: block;
}
.mobile-img {
    display: none;
}
/*icon*/
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    background: #fff;
    z-index: 999;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: red;
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
footer.active {
    background: blue;
}
.section1 {background:indianred}
.section2 {background:steelblue}
.section3 {background:indianred}
.section4 {background:steelblue}
.section1 {background:indianred}