@charset "utf-8";
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
.wrap {
    overflow-x: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    padding: 0 55px;
    z-index: 999;
    letter-spacing: 0.5px;
    background: #fff;
    -webkit-box-shadow: 0 0 16px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 16px -6px rgba(0,0,0,0.2);
    box-shadow: 0 0 16px -6px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
}
.logo a {
    display: block;
    padding: 28px 0;
    color: #ff9c00;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.docSlider-pager {
    position: static;
    display: inline-block;
    float: right;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.docSlider-button {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 35px 60px 35px 0;
    color: #444;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat' , sans-serif;
    background: none;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.docSlider-button:last-of-type {
    margin-right: 0;
}
.docSlider-button.selected {
    color: #ff9c00;
    font-weight: 600;
    border-bottom: 2px solid #ff9c00;
}
header.main {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header.main .logo a {
    color: #222;
}
header.main .docSlider-button.selected {
    color: #222;
    border-bottom-color: #222;
}
/*content*/
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 95px;
}
.main-section .ico-scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 46px;
    height: 64px;
    margin-left: -23px;
    background: url("../img/ico_scroll.png") no-repeat center;

}
.main-section .ico-scroll:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 20px;
    display: inline-block;
    width: 6px;
    height: 13px;
    background: #333333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-animation: scroll-move 1.5s infinite ease-out;
    -moz-animation: scroll-move 1.5s infinite ease-out;
    -o-animation: scroll-move 1.5s infinite ease-out;
    animation: scroll-move 1.5s infinite ease-out;
}

.typing-txt{
    display: none;
}
.typeing-txt ul{
    list-style:none;
}
.main-text {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 70px;
    font-weight: 600;
    line-height: 230px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.typing {
    display: block;
    min-height: 70px;
    color: #ffae00;
    letter-spacing: 20px;
    line-height:1;
}

@keyframes scroll-move {
    0% {
        top: 8px;
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0.9;
    }
    100% {
        top: 15px;
        opacity: 0;
    }
}
