@charset "utf-8";
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
* {
    font-family: 'Noto Sans Korean', sans-serif;
}
html {
    font-size: 15px;
}
.wrap {
    overflow-x: hidden;
}
.inner {
    position: relative;
    top: 50%;
    width: 1550px;
    max-width: 95%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inner:after {
    content: "";
    display: block;
    clear: both;
}
.text-point {
    color: #bfab72;
}
.mobile-br {
    display: none;
}
.web-img {
    display: block;
}
.mobile-img {
    display: none;
}
/*icon*/
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
.ico-phone {
    width: 16px;
    height: 18px;
    margin: -5px 8px 0 0;
    background: url("../img/ico_phone.png") no-repeat center;
}
.ico-guide {
    width: 22px;
    height: 22px;
    margin: -4px 10px 0 0;
    background: url("../img/ico_guide.png") no-repeat center;
}
/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    background: #000;
    z-index: 999;
}
.header .logo {
    display: inline-block;
}
.header .reservation {
    display: inline-block;
    float: right;
    margin-top: 35px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #af9e6e;
}
.header .reservation span {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #af9e6e;
}
.header .mobile-menu-wrap {
    display: none;
}
/*page dot*/
.dots {
    position: fixed;
    top: 29px;
    left: 50%;
    width: 1050px;
    text-align: center;
    padding: 0;
    z-index: 999;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.dots li {
    position: relative;
    display: inline-block;
    margin: 0 25px;
}
.dots li a {
    padding: 10px;
    display: block;
}
.dots li a:after {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}
.dots li:first-of-type a:after {
    content: "서래 ACO"
}
.dots li:nth-of-type(2) a:after {
    content: "LOCATION"
}
.dots li:nth-of-type(3) a:after {
    content: "PENTHOUSE"
}
.dots li:nth-of-type(4) a:after {
    content: "PRIVATE"
}
.dots li:nth-of-type(5) a:after {
    content: "SPECIAL"
}
.dots li:nth-of-type(6) a:after {
    content: "CONTACT US"
}
.dots li a.active:after,
.dots li:hover a:after {
    color: #bfab72;
}
/*section*/
section {
    position: relative;
    padding-top: 100px;
    color: #fff;
    text-align: center;
}
.text-area h2 {
    margin-bottom: 30px;
    font-size: 4.063rem;
    font-weight: 100;
}
.text-area h2 + p {
    margin-top: 45px;
}
.text-area p {
    font-size: 1.5rem;
    line-height: 40px;
    color: #b9b9b9;
}
.text-area .title-info {
    margin-bottom: 10px;
    font-size: 1.813rem;
    font-weight: 400;
    color: #fff;
}
.guide-text {
    margin-top: 30px;
    font-size: 1.25rem;
    color: #676864;
}
.section1 {
    text-align: left;
    background: url("../img/section_bg01.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section1 .inner {
    text-align: right;
}
.section1 .text-area {
    display: inline-block;
    text-align: left;
}
.section1 .text-area img {
    margin-bottom: 30px;
}
.section1 .text-area h2 {
    font-size: 5rem;
}
.section1 .text-area p  {
    font-size: 1.75rem;
}
.section2 {
    text-align: left;
    background: url("../img/section_bg02.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section2 .inner {
    font-size: 0;
}
.section2 .text-area {
    display: inline-block;
    vertical-align: middle;
    width: -webkit-calc(100% - 700px);
    width: -moz-calc(100% - 700px);
    width: calc(100% - 700px);
}
.section2 .img-area {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    text-align: center;
}
.section2 .img-area .scroll-box {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.section2 .img-area .scroll-box img {
    position: absolute;
    top: 0;
    max-width: none;
    height: 100%;
    -webkit-animation: img-move 20s infinite ease-in-out;
    -o-animation: img-move 20s infinite ease-in-out;
    animation: img-move 20s infinite ease-in-out;
}
.progress-bar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 50px 0;
    background: #af9e6e;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    -webkit-animation: progress-move 20s infinite ease-in-out;
    -o-animation: progress-move 20s infinite ease-in-out;
    animation: progress-move 20s infinite ease-in-out;
}
.section3 {
    background: url("../img/section_bg03.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section3 > .guide-text {
    position: absolute;
    right: 50px;
    bottom: 30px;
}
.increase-text {
    -webkit-animation: text-flash 1.5s infinite ease-in-out;
    -o-animation: text-flash 1.5s infinite ease-in-out;
    animation: text-flash  1.5s infinite ease-in-out;
}
.label-lg {
    display: inline-block;
    padding: 15px 50px;
    margin-top: 80px;
    font-size: 2.063rem;
    font-weight: 300;
    background: #af9e6e;
}
.section4 {
    background: url("../img/section_bg04.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section4 .center-slide {
    position: relative;
    height: 25vw;
    padding: 0 8vw;
}
.center-slide .slick-slide {
    height: 22vw;
    margin: 0 2.5vw;
    padding: 3vw 0;
    overflow: hidden;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.center-slide .slick-slide.slick-active {
    max-width: 50vw;
    height: 25vw!important;
    padding: 0;
}
.center-slide .slick-slide img {
    max-height: 100%;
}
.center-slide .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 71px;
    margin-top: -45px;
    font-size: 0;
    z-index: 99;
}
.center-slide .slick-arrow.slick-prev {
    left: 25%;
    background: url("../img/slide_arrow_prev.png") no-repeat center;
}
.center-slide .slick-arrow.slick-next {
    right: 25%;
    background: url("../img/slide_arrow_next.png") no-repeat center;
}
.section5 .img-list li:nth-of-type(1) {
    background: url("../img/section05_golf_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list li.hover:nth-of-type(1) {
    background: url("../img/section05_golf_bgon.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list li:nth-of-type(2) {
    background: url("../img/section05_fitness_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list li.hover:nth-of-type(2) {
    background: url("../img/section05_fitness_bgon.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list li:nth-of-type(3) {
    background: url("../img/section05_rest_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list li.hover:nth-of-type(3) {
    background: url("../img/section05_rest_bgon.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section5 .img-list {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.section5 .img-list li {
    position: relative;
    top: -100px;
    display: table-cell;
    vertical-align: top;
    height: 100vh;
}
.section5 .img-list .text-area {
    position: relative;
    top: 50%;
    z-index: 99;
    padding-top: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section6 {
    background: url("../img/section_bg06.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.section6 .text-area h2 + p {
    margin-top: 20px;
    line-height: 20px;
}
.section6 form {
    width: 670px;
    margin: 30px auto 0;
}
.section6 form .input-area > * {
    margin-top: 15px;
}
.section6 form .check-area {
    margin-top: 20px;
}
.section6 form .check-area .input-chk {
    float: left;
}
.section6 form .check-area .btn-modal-open {
    float: right;
    font-size: 1.3rem;
    border-bottom: 1px solid #b5b5b5;
    color: #b5b5b5;
}
.section6 .btn-send {
    width: 100%;
    padding: 15px 10px;
    margin-top: 18px;
    font-size: 1.75rem;
    color: #fff;
    background: #523f08;
}
select {
    max-width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    font-size: 1.25rem;
    border: 1px solid #000;
    background: #fff url("../img/select_arrow.png") no-repeat 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 190px;
}
select::-ms-expand {
    display: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b5b5b5;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b5b5b5;
}
input::placeholder,
textarea::placeholder {
    color: #b5b5b5;
}
.input-type01 {
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 1.25rem;
    color: #000;
    border: 1px solid #000;
    background: #fff;
}
.input-chk {
    cursor: pointer;
}
.input-chk input[type="checkbox"] {
    display: none;
}
.input-chk input[type="checkbox"] + span {
    font-size: 1.25rem;
    color: #b5b5b5;
}
.input-chk input[type="checkbox"] + span:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url("../img/ico_check_off.png") no-repeat 0 0;
    vertical-align: sub;
}
.input-chk input[type="checkbox"]:checked + span:before {
    content: '';
    display: inline-block;
    background: url("../img/ico_check_on.png") no-repeat;
}
.phone-area {
    font-size: 0;
}
.phone-area > * {
    display: inline-block;
    vertical-align: middle;
    width: 31%;
    margin-right: 3.5%;
}
.phone-area > *:last-child {
    margin-right: 0;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
}
.modal.open {
    display: block;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    padding: 20px;
    background: #fff;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.modal-content .modal-header {
    position: relative;
    padding-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 1px solid #adadad;
}
.modal-content .modal-header .btn-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: url("../img/ico_close.png") no-repeat center;
}
.modal .agree-list {
    padding: 20px 0 10px;
    font-size: 1rem;
}
.modal .agree-list li {
    font-size: 1rem;
}
.modal .agree-list li + li {
   margin-top: 15px;
}
.modal .agree-list h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
@media (max-width:1550px) {
    .dots {
        width: 720px;
    }
    .dots li {
        margin: 0 5px;
    }
    .dots li a {
        padding: 11px 10px;
    }
    .dots li a:after {
        font-size: 1.1rem;
    }
    .header .reservation {
        font-size: 1.1rem;
    }
    .text-area h2 {
        letter-spacing: -1px;
        font-size: 4rem;
    }
}
@media (max-width:1260px) {
    html {
        font-size: 13px;
    }
    .header {
        padding: 0 25px;
    }
    .header .reservation {
        margin-top: 39px;
        font-size: 1rem;
    }
    .dots {
        width: 600px;
        left: 57%;
    }
    .dots li {
        margin: 0;
    }
    .dots li a:after {
        font-size: 1rem;
    }
    .section2 .text-area {
        width: -webkit-calc(100% - 520px);
        width: -moz-calc(100% - 520px);
        width: calc(100% - 520px);
    }
    .section2 .img-area {
        width: 520px;
    }
    .section2 .img-area .scroll-box {
        height: 470px;
    }
    .section2 .img-area .scroll-box img {
        -webkit-animation: img-move1260 20s infinite ease-in-out;
        -o-animation: img-move1260 20s infinite ease-in-out;
        animation: img-move1260 20s infinite ease-in-out;
    }
    .section4 .center-slide {
        height: 37vw;
        padding: 0 4vw;
    }
    .center-slide .slick-slide {
        height: 37vw;
        margin: 0 1.5vw;
    }
    .center-slide .slick-slide.slick-active {
        max-width: 65vw;
        height: 37vw!important;
    }
    .center-slide .slick-arrow.slick-prev {
        left: 18%;
    }
    .center-slide .slick-arrow.slick-next {
        right: 18%;
    }
}
@media (max-height: 870px) {
    .section2 .img-area .scroll-box {
        width: 46vw;
        height: 35vw;
        margin: 0 auto;
    }
    .section2 .img-area .scroll-box img {
    -webkit-animation: img-move-h870 20s infinite ease-in-out;
    -o-animation: img-move-h870 20s infinite ease-in-out;
    animation: img-move-h870 20s infinite ease-in-out;
}
    .progress-bar {
        width: 46vw;
        margin: 14px auto;
    }
}
@media (max-height:767px) {
    .section2 .img-area .scroll-box {
        width: auto;
        height: 55vw;
        margin: 0 auto;
    }
    .progress-bar {
        width: auto;
        margin: 14px auto;
    }
}
@media (max-width: 1024px) {
    .inner {
        max-width: 85%;
    }
    .mobile-br {
        display: block;
    }
    .web-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    /*icon*/
    .ico-guide {
        width: 15px;
        height: 15px;
        margin: -3px 5px 0 0;
        background: url("../img/mobile/ico_guide.png") no-repeat center;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .ico-phone {
        width: 22px;
        height: 22px;
        margin-top:-10px;
        background: url("../img/mobile/ico_phone.png") no-repeat center;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .header {
        height: 50px;
        padding: 0 5%;
    }
    .header .logo .mobile-img {
        width: 130px;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
    .overlay.menu-open {
        display: block;
    }
    .dots {
        width: 60%;
        height: 100%;
        top: 0;
        left: initial;
        right: 0;
        padding: 20px 25px;
        margin-top: 50px;
        text-align: left;
        background: #000;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
        -webkit-transition: 0.4s all;
        -moz-transition: 0.4s all;
        -ms-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
    }
    .dots.open {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .dots li {
        display: block;
        width: 100%;
    }
    .dots li a.active:after{
        color: #fff;
        border-bottom: 2px solid #fff;
        padding-bottom: 3px;
    }
    .dots li:hover a:after {
        color: #fff;
    }
     .header .reservation {
        display: none;
    }
    .header .mobile-menu-wrap {
        display: inline-block;
        float: right;
    }
    .header .mobile-menu {
        position: relative;
        display: inline-block;
        width: 21px;
        height: 10px;
        margin-top: 25px;
        border: solid #fff;
        border-width: 2px 0;
    }
    .header .mobile-menu:after {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 21px;
        height: 2px;
        background: #fff;
    }
    section {
        padding-top: 50px;
    }
    .section1 .inner,
    .section1 .text-area {
        text-align: center;
    }
    .text-area h2 {
        margin-bottom: 20px;
        font-size: 2rem;
        letter-spacing: 0;
    }
    .text-area h2 + p {
        margin-top: 20px;
    }
    .text-area .title-info {
        font-size: 1.077rem;
    }
    .text-area p {
        font-size: 1rem;
        line-height: normal;
    }
    .guide-text {
        margin-top: 20px;
        font-size: 0.7692rem;
    }
    .section1 .text-area img {
        width: 150px;
        margin: 0 auto 10px;
    }
    .section1 .text-area h2 {
        font-size: 2.308rem;
    }
    .section1 .text-area h2 span {
        font-size: 2.692rem;
    }
    .section1 .text-area p {
        font-size: 1rem;
    }
    .section2 .text-area {
        display: block;
        width: 100%;
        text-align: center;
    }
    .section2 .img-area {
        display: block;
        width: auto;
        margin-top: 20px;
    }
    .section2 .img-area .scroll-box {
        width: auto;
        height: 55vw;
    }
    .section2 .img-area .scroll-box img {
        -webkit-animation: img-move-mobile 5s infinite ease-in-out;
        -o-animation: img-move-mobile 5s infinite ease-in-out;
        animation: img-move-mobile 5s infinite ease-in-out;
    }
    .progress-bar {
        width: auto;
        margin: 14px 0;
    }
    .section3 > .guide-text {
        display: block;
        width: 100%;
        left: 0;
        bottom: 30px;
    }
    .label-lg {
        display: block;
        width: 100%;
        padding: 12px 0;
        margin-top: 50px;
        font-size: 1.385rem;
    }
    .section4 .center-slide {
        position: relative;
        height: 50vw;
        padding: 0;
    }
    .center-slide .slick-slide {
        width: 77vw;
        height: 100%;
        margin: 0 1.2vw;
        padding: 0;
    }
    .center-slide .slick-slide.slick-active {
        max-width: 100%;
        height: auto!important;
        padding: 0;
    }
    .center-slide .slick-slide img {
        max-height: none;
    }
    .scroll-container section.section5 {
        padding-top: 0;
    }
    .section5 .img-list {
        display: block;
        height: 100%;
    }
    .section5 .img-list li {
        display: block;
        top: 0;
        height: 31.33333%;
    }
    .section5 .img-list li:nth-of-type(1) {
        height: 37.33333%;
        padding-top: 50px;
        background: url("../img/section05_golf_bgon.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .section5 .img-list li:nth-of-type(2) {
        background: url("../img/section05_fitness_bgon.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .section5 .img-list li:nth-of-type(3) {
        background: url("../img/section05_rest_bgon.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .section5 .img-list .text-area {
        padding-top: 0;
    }
    .section6 form {
        width: 100%;
    }
    .section6 form .input-area > * {
        margin-top: 5px;
    }
    select {
        height: 40px;
        padding: 0 30px 0 10px;
        font-size: 0.8462rem;
        background: #fff url("../img/mobile/select_arrow.png") no-repeat 90%;
        -webkit-background-size: 10px;
        background-size: 10px;
    }
    .input-type01 {
        height: 40px;
        padding: 10px;
        font-size: 0.8462rem;
    }
    .input-chk input[type="checkbox"] + span {
        font-size: 0.8462rem;
    }
    .input-chk input[type="checkbox"] + span:before {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: url("../img/mobile/ico_check_off.png") no-repeat 0 0;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .input-chk input[type="checkbox"]:checked + span:before {
        background: url("../img/mobile/ico_check_on.png") no-repeat 0 0;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .section6 form .check-area .btn-modal-open {
        font-size: 0.8462rem;
    }
    .section6 .btn-send {
        padding: 8px 10px;
        font-size: 1.154rem;
    }
    .modal-content {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .modal-content .modal-header .btn-modal-close {
        width: 13px;
        height: 13px;
        margin-top: 5px;
        background: url("../img/mobile/ico_close.png") no-repeat center;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
}

@keyframes img-move {
    100% {
        left: 0;
    }
    50% {
        left: -320px;
    }
    0% {
        left: 0;
    }
}
@keyframes img-move1260 {
    100% {
        left: 0;
    }
    50% {
        left: -280px;
    }
    0% {
        left: 0;
    }
}
@keyframes img-move-mobile {
    100% {
        left: 0;
    }
    50% {
        left: -8vw;
    }
    0% {
        left: 0;
    }
}
@keyframes img-move-h870 {
    100% {
        left: 0;
    }
    50% {
        left: -13vw;
    }
    0% {
        left: 0;
    }
}
@keyframes progress-move {
    100% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    0% {
        left: 0;
    }
}
@keyframes text-flash {
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}
